.d-flex button{
    margin: .3em;
    padding: .3em 2.4em;
}

.d-flex input{
    margin: .9em 0em;
    fontsize: 14px;
}

.container table{
    margin: 4em 10em;
}

.mychart canvas {
    margin: 0em 4em;
    max-width: 400px;
    max-height: 300px;
    
}

.d-flex div{
    margin: 1em 0em;
}
.d-flex h4 {
    margin-left: 9px;
}

.d-flex div {
    padding-left: 9px;
}


